body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */
nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 35px; /*made up this value*/
}

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    vertical-align: middle;

}

.top-left {
    float: left;
}

.heart {
    padding-left: 20px;
    padding-right: 20px;
}

.top-links {
    display: inline;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
 
}

.top-links li {
    display: inline;
    margin: 0 10px;
}

/* HEADER */
.header {
    background: rgb(32, 101, 136);
    color: white;
    background-image: url(images/city-scape.svg); width: 100%;
}

.search-bar {
   display: inline;
   list-style-type: none;
   background-color: rgb(31, 82, 111);
   margin: 0;
   padding: 0;
   overflow: hidden;
   box-sizing: content-box;
}

.search-bar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.search-bar input {
    background-color: rgb(31, 82, 111);
    border: 1px solid rgb(135, 145, 156);
    padding: 10px;
    width: 100%;
}

.content {
    margin: auto;
}

.header-content {
    width: 60%;
    padding: 70px 20px;
    line-height: 1.4;
}

.header-btn {
    color: white;
    background-color: rgb(240, 146, 51);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.clearfix {
    clear: both;
}

/* SECTION 1 */
.section-1 {
    color: white;
    background-color: rgb(39, 53, 71);
    padding: 5%;
}

.section-1-content {
    width: 66.66%;
}

.section-1-ul {
    line-height: 2.0;
}

.section-1-img {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.section-1-btn {
    color: white;
    background-color: rgb(203, 56, 55);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

/* SECTION 2 */
.section-2 {
    color: white;
    background-image: url(images/forklift.svg);
    background-size: cover; 
    height: 500px;
}

.section-2-content {
    padding: 8% 20%;
    line-height: 1.4;
}

.section-2-btn {
    color: white;
    background-color:rgb(49, 68, 88);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

/* SECTION 3 */
.section-3 {
    background-color: white;
    text-align: center;
    padding: 50px;
}

.section-3 h2 h3 {
    color: rgb(83, 88, 98);
}

.section-3 a { /*sould it be every link?*/
    color: rgb(208, 74, 73);
    text-decoration: none;
}

.section-3 p {
    color: rgb(135, 145, 156);
}

.wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    padding: 10px 20%;
    line-height: 1.4;
}

.one {
    grid-column: 1;
    grid-row: 1
}

.two {
    grid-column: 2;
    grid-row: 1
}

.three {
    grid-column: 3;
    grid-row: 1
}